
body {
    background: url("Fon2.jpg") no-repeat 100% 100% fixed;
    font-size: 120%;
    text-align: center;

}

table {
    border-spacing: 0 10px;
    font:  bolder 100% FangSong, serif;
    margin: 40px auto;
    text-shadow: 5px 5px 5px #962e11;
    background: #e6f5f2;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    border: 10px solid gray;
}

